.Tweet-page {
  position: relative;
  height: 100vh;
  * {
    box-sizing: border-box;
  }
  #contain {
    // display: flex;
    position: absolute;
    padding: 20px 10px;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
  }
  .sideView {
    /* background-color: aliceblue; */
    // float: left;
    display: inline-block;
    height: 100%;
    margin: 0px;
    width: 40%;
    overflow: hidden;
  }
  .emptyDiv {
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: blueviolet;
  }
  .tweetInfoBox {
    background-color: white;
    padding: 20px 30px;
  }
  .userName {
    text-align: center;
    font-size: 2rem !important;
    margin-bottom: 25px;
  }
  .tweetInfo {
    /* margin-left: 20px; */
    font-size: 1.5rem;
  }
  .tweetCount {
    /* display: inline-block; */
    margin-left: 40px;
    color: deeppink;
  }
  .mainView {
    // background-color: lightblue;
    // float: right;
    position: absolute;
    padding: 10px;
    /* position:relative; */
    /* margin:60px; */
    width: 50%;
    // top: 110%;
    right: -2%;
    top: 3%;
    // background-color: black;
    height: 100vh;
  }
  .mainView2 {
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: yellow;
  }
  .textBox {
    padding: 10px;
    width: 93%;
    height: 100px;
    font-weight: bold;
    border-radius: 10px;
    border: solid skyblue;
  }
  .textInfo {
    // position: absolute;
    // float: right;
    margin-top: 5px;
    // left: 75%;
  }
  .curTextLength,
  .maxTextLength {
    margin-left: 20px;
  }
  .addTweetButton {
    position: absolute;
    // float: right;
    margin: -20px 0 0 0;
    right: 10%;
    border-radius: 10px;
    border: 1px;
    background-color: deepskyblue;
    color: white;
    font-size: 1.5rem;
    /* top: 50%; */
    /* bottom:0%; */
  }
  .tweetContain {
    /* background-color: yellow; */
    // position: absolute;
    // margin: 10px 10px;
    // display: block;
    padding: 0;
    // float: right;
    width: 43vw;
    // overflow: hidden;
    // height: 200px;
  }

  h5 {
    margin: 0;
  }
  li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    border: solid palevioletred 2px;
    border-radius: 20px;
    word-wrap: break-word; /*li 안에서 텍스트를 작성할때 li width를 벗어나는 것을 막아줌. 개행으로*/
  }
}
