h1 {
    text-align: center;
    font-size: 3.5rem;
}
.signInputID, .signInputName, .signInputPw, .signInputProfile, .signUpBtn {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 60px;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    border-bottom: solid 3px gray;
    background-color: whitesmoke
}
.noti {
    width: 50%;
    margin: 0 auto;
    color: red;
}
.signUpBtn  {
    border-radius: 40px;
     border: 1px;
     color: white;
     background-color: gray;
     font-size: 2rem;
     padding: 10px;
}